---
interface Props {
  release: CollectionEntry<"releases">;
  readMore?: boolean;
}

import { Image } from "astro:assets";

import type { CollectionEntry } from "astro:content";

const { release, readMore = false } = Astro.props;

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/icons/{bandcamp,soundcloud}.png"
);
---

<div class="flex gap-8 not-prose">
  <Image
    loading={"eager"}
    class="rounded-lg"
    src={release.data.image}
    alt={`${release.data.image} cover art`}
    width={192}
    height={192}
  />
  <div class="flex flex-col gap-2 justify-center">
    <div>
      <h1 class="text-3xl font-semibold">{release.data.title}</h1>
    </div>
    <p class="font-mono">{release.data.pubDate.toISOString().slice(0, 10)}</p>
    <div class="flex items-center">
      {
        release.data.sources.map((source) => (
          <a target="_blank" rel="noopener noreferrer" href={source.url}>
            <Image
              class="rounded"
              loading={"eager"}
              src={images[`/src/assets/icons/${source.name}.png`]()}
              alt={`${source.name} icon`}
              width={24}
            />
          </a>
        ))
      }
    </div>
    {
      readMore ? (
        <div>
          <a
            class="text-sky-600 hover:text-sky-700"
            href={`/releases/${release.slug}`}
          >
            Read more
          </a>
        </div>
      ) : (
        ""
      )
    }
  </div>
</div>
