---
interface Props {
  release: CollectionEntry<"releases">;
  readMore?: boolean;
  smaller?: boolean;
}

import { Image } from "astro:assets";

import type { CollectionEntry } from "astro:content";
import OutboundLink from "./OutboundLink.astro";

const { release, readMore = false, smaller = false } = Astro.props;

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/icons/*.png"
);
---

<div
  class="flex gap-8 sm:flex-row flex-col justify-center items-center sm:justify-start text-center sm:text-left not-prose"
>
  <Image
    loading={"eager"}
    class="rounded-lg"
    src={release.data.image}
    alt={`${release.data.title} cover art`}
    width={smaller ? 128 : 192}
    height={smaller ? 128 : 192}
  />
  <div class="flex flex-col gap-2 justify-center">
    <div>
      <h1 class=`${smaller ? "text-xl" : "text-3xl"} font-semibold`>
        {release.data.title}
      </h1>
    </div>
    <p class=`font-mono ${smaller ? "text-sm" : ""}`>
      {release.data.pubDate.toISOString().slice(0, 10)}
    </p>
    <div class="flex items-center justify-center sm:justify-start gap-2">
      {
        release.data.sources.map((source) => (
          <OutboundLink href={source.url}>
            <Image
              loading={"eager"}
              class="rounded"
              src={images[`/src/assets/icons/${source.name}.png`]()}
              alt={`${source.name} icon`}
              width={smaller ? 20 : 24}
            />
          </OutboundLink>
        ))
      }
    </div>
    {
      readMore ? (
        <div>
          <a
            class="text-sky-600 hover:text-sky-700"
            href={`/releases/${release.slug}`}
          >
            Read more
          </a>
        </div>
      ) : (
        ""
      )
    }
  </div>
</div>
