---
interface Props {
  release: CollectionEntry<"releases">;
  readMore?: boolean;
}

import type { CollectionEntry } from "astro:content";
const icons = {
  soundcloud:
    "https://d21buns5ku92am.cloudfront.net/26628/images/419675-sc-logo-cloud-black%20%281%29-853a4f-medium-1645807039.png",
  bandcamp:
    "https://s4.bcbits.com/img/buttons/bandcamp-button-square-black-512.png",
};

const { release, readMore = false } = Astro.props;
---

<div class="flex gap-8 not-prose">
  <img
    loading={"eager"}
    class="rounded-lg"
    src={release.data.image.url}
    alt={release.data.image.alt}
    width={192}
    height={192}
  />
  <div class="flex flex-col gap-2 justify-center">
    <div>
      <h1 class="text-3xl font-semibold">{release.data.title}</h1>
    </div>
    <p>{release.data.pubDate.toISOString().slice(0, 10)}</p>
    <div class="flex items-center">
      {
        release.data.sources.map((source) => (
          <a target="_blank" rel="noopener noreferrer" href={source.url}>
            <img
              class="rounded"
              loading={"eager"}
              src={icons[source.name as keyof typeof icons]}
              alt={`${source.name} icon`}
              width={24}
              height={24}
            />
          </a>
        ))
      }
    </div>
    {
      readMore ? (
        <div>
          <a
            class="text-sky-600 hover:text-sky-700"
            href={`/releases/${release.slug}`}
          >
            Read more
          </a>
        </div>
      ) : (
        ""
      )
    }
  </div>
</div>
