---
import { getCollection } from "astro:content";
import Layout from "../../../layouts/Layout.astro";
import BlogPost from "../../../components/BlogPost.astro";
import TableOfContents from "../../../components/TableOfContents.astro";

export async function getStaticPaths() {
  const blogPosts = await getCollection("posts");
  return blogPosts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content, headings } = await post.render();
---

<Layout
  title={`Post (${post.data.title})`}
  desc={post.data.description}
  postMeta={post.data}
>
  <h1>Post</h1>
  <BlogPost post={post} />
  {headings.length ? <TableOfContents headings={headings} /> : ""}
  <div
    class="first:prose-h2:mt-8 prose-img:border prose-img:rounded-lg prose-img:grayscale"
  >
    <Content />
  </div>
  <a href="/blog">Back to the blog</a>
</Layout>
